.input-message{
    width:90%;
    border-radius: 50px;
}

ul {
    padding: 0;
    list-style-type: none;
}
.send-button{
    width:10%;
    border-radius: 50px;
    margin-left: 5px;
    cursor: pointer;
}

.avatar{
    background-color: cornflowerblue;
    padding: 3px 5px;
    border-radius: 5px;
    color:#fff;
}

.message{
    padding:5px;
    width: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 5px 10px;
}
.message-data{
    padding:5px;
}
.message.self{
    justify-content: end;
}